<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OracleDbForms.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=192.168.60.3:1521/baza1;PASSWORD=patryk123;PERSIST SECURITY INFO=True;USER ID=&quot;C##PATRYK&quot;"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>